#canvas {
    display: flex;
    flex-wrap: wrap;
    border: 1px solid black;
    background: #f4f4f4;
    width: 666px;
    height: 666px;
}

#main {
    display: flex;
    align-items: center;
    justify-content: center;
}

.square {
    border: 1px solid black;
    width: 16px;
    height: 16px;
}

.transform {
    background: black;
}

button {
    margin: 5px 5px;
}

div,
h1 {
    text-align: center;
}

body {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
