#canvas {
    display: flex;
    flex-wrap: wrap;
    border: 1px solid black;
    width: 700px;
    height: 700px;
}

#main {
    display: flex;
    align-items: center;
    justify-content: center;
}

.square {
    border: 1px solid black;
}

button {
    margin: 5px 5px;
}

div,
h1 {
    text-align: center;
}

body {
    display: flex;
    flex-direction: column;
    align-items: center;
}
